<!DOCTYPE html>
<html>
<title>Chula Database</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/w3style.css">
<link rel="stylesheet" href="/stylesheets/chart.css">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>

<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-pink w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-text-white">
      <b class="w3-jumbo">Chula<br></b>
      <b class="w3-xxxlarge">DATABASE<br><hr></b>
    </h3>
  </div>
  <div class="w3-bar-block w3-text-white">
    <a href="/profile" class="w3-bar-item w3-button w3-hover-white">Profile</a>
    <a href="/executive" class="w3-bar-item w3-button w3-hover-white">Executive</a>
    <a href="/advisor" class="w3-bar-item w3-button w3-hover-white">Advisor</a>
    <a href="#" class="w3-bar-item w3-button w3-hover-white">About us</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">â˜°</a>
  <span>Chula DATABASE</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>Query</b></h1>
    <h1 class="w3-xxxlarge w3-text-pink"><b>for Advisor</b></h1>
    <hr style="width:1000px;border:5px solid pink" class="w3-round">
  </div>


  <div class="w3-container">
    <h1 style="margin-top:20px;margin-bottom:35px">My Students</h1>
    <form action="/profile" method="post">
      <p style="font-size:18px;margin-bottom:30px">Year
        <select id="yearSelect" class="w3-select" style="width:10%;font-size:12px;margin-bottom:15px;margin-left:10px;">
          <option value="0">All</option>
          <option value="1">1st</option>
          <option value="2">2nd</option>
          <option value="3">3rd</option>
          <option value="4">4th</option>
          <option value="5">Other</option>
        </select>
        &nbsp Status
        <select id="status" class="w3-select" style="width:10%;font-size:12px;margin-bottom:15px;margin-left:10px;">
          <option value="all">ทุกประเภท</option>
          <option value="ปกติ">ปกติ</option>
          <option value="แลกเปลี่ยนต่างประเทศ">ไปแลกเปลี่ยนต่างประเทศ</option>
        </select>
        <button type="button" class="mybutton w3-right" style="margin-left:200px" onclick="getData()">Filter</button>
      </form>
  </p>
  </div>

  <!-- Student Table -->
  <div class="w3-container" style="overflow:auto;margin-bottom:100px">
    <table class="w3-table-all" style="width:100%;height:100%" id="student_table">
      <tr>
        <th>StudentID</th>
        <th>Name</th>
        <th>Year</th>
        <th>GPA</th>
        <th>CM Weight</th>
        <th></th>
      </tr>
    <% for(var i=0; i < data.length; i++) { %>
        <tr class="mytr" onclick="createStudentChart('<%= data[i].fname %>' + ' ' + '<%= data[i].lname %>', '<%= data[i].id %>')" id="row<%=i%>">
          <form style="display:none" action="/advisor/student" method="post">
              <td><%= data[i].id %></td>
              <td><%= data[i].fname + ' ' + data[i].lname %></td>
              <td><%= data[i].year %></td>
              <td><%= data[i].gpax %></td>
              <td><%= data[i].cmw %></td>
              <td><input style="display:none" type="text" name="sid" value="<%=data[i].id%>"> <button href='/advisor/student'>info</td>
            </tr>
          </form>
    <% } %>
  </table>
</div>

<div class="container" id="studentChartZone">

</div>

<div class="container" style="margin-bottom:100px">
  <!--h2>GPA of &nbsp นายพิชญุตม์ จิตรศิลป์ฉายากุล</h2-->
  <div>
    <canvas id="overallChart"></canvas>
  </div>
</div>



<script src="/javascripts/chartjs.js"></script>
<script src="/javascripts/advisorChart.js"></script>
<script src="/javascripts/jquery.js"></script>

<script>
function getData() {
    // Grab the template
    var year = document.getElementById('yearSelect').value
    var status = document.getElementById('status').value
    alert(status)
          $.ajax({
            type: 'POST',
            data: {
                    year: year,
                    status: status
                  },
            url: '/advisor/query',
            success: function(data) {
                      console.log(data);
                      console.log(data.length);
                      let test = '<tr>'+
                        '<th>StudentID</th>' +
                        '<th>Name</th>' +
                        '<th>Year</th>' +
                        '<th>GPA</th>' +
                        '<th>CM Weight</th>' +
                        '<th></th>' +
                      '</tr>'
                     for(var i=0; i < data.length; i++) {
                        test += '<tr class="mytr" onclick="createStudentChart(\'' + data[i].fname + ' ' + data[i].lname + '\', \'' + data[i].id + '\')" >'+
                          '<form style="display:none" action="/advisor/student" method="post">' +
                            '<td>'+ data[i].id +'</td>'+
                            '<td>'+ data[i].fname + ' ' + data[i].lname +'</td>'+
                            '<td>'+ data[i].year +'</td>'+
                            '<td>'+ data[i].gpax +'</td>'+
                            '<td>'+ data[i].cmw +'</td>'+
                              '<td><input style="display:none" type="text" name="sid" value="'+ data[i].id +'"><button href="/advisor/student">info</td>' +
                            '</tr>' +
                          '</form>'
                    }
                    console.log(test);
                      $('#student_table').html(test)
                    }
          });
}

</script>


<script>
function createStudentChart(name, sid){

  var div = document.getElementById('studentChartZone')
  var h2 = document.createElement('h2')
  while (div.hasChildNodes()) {
    div.removeChild(div.firstChild);
  }

  $.ajax({
    type: 'POST',
    data: {
            sid: sid
          },
    url: '/advisor/query2',
    success: function(data) {
              console.log(data);
              console.log(data.length);

              var label = []
              var gpa = []
              for(i = 0; i < data.length; i++){
                label.push(data[i].Term)
                gpa.push(data[i].gpax)
              }

              var ctx = document.getElementById("overallChart").getContext('2d');
              var data = {
                  //labels: ['1st Year', '2nd Year', '3rd Year', '4th Year', '5th Year', '6th Year', '7th Year', '8th Year'],
                  labels: label,
                  datasets: [
                      {
                          label: 'GPA',
                          fill: false,
                          lineTension: 0.1,
                          backgroundColor: "rgba(75,192,192,0.4)",
                          borderColor: "rgba(75,192,192,1)",
                          borderCapStyle: 'butt',
                          borderDash: [],
                          borderDashOffset: 0.0,
                          borderJoinStyle: 'miter',
                          pointBorderColor: "rgba(75,192,192,1)",
                          pointBackgroundColor: "#fff",
                          pointBorderWidth: 1,
                          pointHoverRadius: 5,
                          pointHoverBackgroundColor: "rgba(75,192,192,1)",
                          pointHoverBorderColor: "rgba(220,220,220,1)",
                          pointHoverBorderWidth: 2,
                          pointRadius: 1,
                          pointHitRadius: 10,
                          data: gpa,
                          spanGaps: false,
                      }
                  ]
              };

              var overallChart = new Chart(ctx, {
                  type: 'line',
                  data: data,
                  options: {
                              scales: {
                                  yAxes: [{
                                      ticks: {
                                          max: 4.00,
                                          min: 1.00,
                                          stepSize: 0.5
                                      }
                                  }]
                              }
                            }
              });

            }
  });
  //div.appendChild(h2)
  h2.append('GPA of ' + name )
  div.append(h2);


}

</script>

</body>
</html>
