<!DOCTYPE html>
<html>
<title>Chula Database</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/w3style.css">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>

<body >

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-pink w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-text-white">
      <b class="w3-jumbo">Chula<br></b>
      <b class="w3-xxxlarge">DATABASE<br><hr></b>
    </h3>
  </div>
  <div class="w3-bar-block w3-text-white">
    <a href="/profile" class="w3-bar-item w3-button w3-hover-white">Profile</a>
    <a href="/executive" class="w3-bar-item w3-button w3-hover-white">Executive</a>
    <a href="/advisor" class="w3-bar-item w3-button w3-hover-white">Advisor</a>
    <a href="#" class="w3-bar-item w3-button w3-hover-white">About us</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">â˜°</a>
  <span>Chula DATABASE</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px;" id="showcase">
    <h1 class="w3-jumbo"><b><%= data.table1[0].id %></b> <img src="/images/studentpic5.png" class="w3-left w3-margin-bottom w3-round-xxlarge" style="margin-right:100px;width:250px;height:210px;border:1px solid;" > </img> </h1>
    <h1 class="w3-xxxlarge w3-text-pink"><b><%= data.table1[0].fname + ' ' + data.table1[0].lname%></b></h1>
    <hr style="margin-top:50px;width:1000px;border:5px solid pink;border-spacing:2px" class="w3-round">

  </div>


<div class="w3-container">
    <h1>Profile</h1>
    <hr>
    <div class="w3-row-padding">
      <div class="w3-third">
        <h4><p>รหัสประจำตัว: <%= data.table1[0].id%></p>
            <p>ชื่อ: <%= data.table1[0].fname%> </p>
            <p>เพศ: <%= data.table1[0].sex%> </p>
            <p>คณะ: <%= data.table1[0].Department_faculty_name%></p>
            <p>หลักสูตร: <%= data.table1[0].curriculum %> </p>
        </h4>
      </div>

      <div class="w3-third">
        <h4><p> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </p>
            <p>นามสกุล: <%= data.table1[0].lname%> </p>
            <p>อีเมล์: <%= data.table1[0].email%> </p>
            <p>สาขา: <%= data.table1[0].Department_department_name %>  </p>
            <p>เกรดเฉลี่ย: <%= data.table1[0].gpax %></p>
        </h4>
      </div>

      <div class="w3-third">
        <h4><p> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>
            <p>เบอร์โทร: <%= data.table1[0].tel_no%> </p>
            <p>ชั้นปี: <%= data.table1[0].year %></p>
            <p>วันเกิด: <%= data.table1[0].birthdate %></p>
            <p> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>
        </h4>
      </div>
      <h4><p style="margin-left:9px">ที่อยู่: <%= data.table1[0].address %> </p></h4>
    </div>

    <hr style="margin-top:50px;width:1000px;border:5px solid pink;border-spacing:2px" class="w3-round">
</div>

    <div class="w3-container">
      <h1>Grade & Activity</h1>
      <hr>
    </div>
  <!-- Photo grid (modal) -->
  <div class="w3-row-padding">
    <div class="w3-half">
      <p><h1 style="margin-left:39%">Grade</h1></p>
      <p><h5 style="margin-left:18px;font-size:16px">YEAR/SEMESTER
        <select id="grade_termSelect" class="w3-select" style="width:20%;font-size:12px;margin-bottom:15px;margin-left:10px">
          <option value="2014/1">2014/1</option>
          <option value="2014/2">2014/2</option>
          <option value="2015/1" selected="selected">2015/1</option>
          <option value="2015/2">2015/2</option>
          <option value="2016/1">2016/1</option>
          <option value="2016/2">2016/2</option>
          <option value="2017/1">2017/1</option>
          <option value="2017/2">2017/2</option>
        </select>
        <button type="button" class="mybutton-mini" style="margin-left:150px" onclick="getData()">Change</button>
        <!--&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp SEMESTER -->
        <!--select id="grade_semesterSelect" class="w3-select" style="width:10%;font-size:12px;margin-bottom:15px;margin-left:10px">
          <option value="1">First</option>
          <option value="2" selected="selected">Second</option>
          <option value="3">Summer</option>
        </select-->
       </h5>
      </p>
      <!-- Student Table -->

      <div class="w3-container">
        <table class="w3-table-all" style="width:100%;margin-bottom:80px;" id="gradeTable" >
          <tr>
            <th>CourseID</th>
            <th>Name</th>
            <th>Grade</th>
            <th>Credits</th>
          </tr>
          <% var weightSum = 0 %>
          <% var gradeSum = 0 %>
          <% for(var i=0; i < data.table4.length; i++) { %>
              <tr class="mytr">
                  <td><%= data.table4[i].cid %></td>
                  <td><%= data.table4[i].course_name %></td>
                  <td><%= data.table4[i].grade %></td>
                  <td><%= data.table4[i].credit %></td>
              </tr>
            <% weightSum += data.table4[i].credit %>
            <% gradeSum += data.table4[i].grade*data.table4[i].credit%>
          <% } %>
          <tfoot>
            <tr>
              <td colspan="3">GPA</td>
              <td><%= (gradeSum/weightSum).toFixed(2) %></td>
            </tr>
            <tr>
              <td colspan="3">Credits</td>
              <td><%= weightSum %></td>
            </tr>
          </tfoot>
        </table>
      </div>

    </div>

    <div class="w3-half">

      <div class="w3-container">
        <table class="w3-table-all" style="width:100%" id="absentTable">
          <caption style="font-size:35px;margin-top:30px;margin-bottom:10px">Absent</caption>
          <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Reason</th>
          </tr>
          <% for(var i=0; i < data.table3.length; i++) { %>
              <tr class="mytr">
                <td><%= data.table3[i].absent_date %></td>
                <td><%= data.table3[i].absent_type %></td>
                <td><%= data.table3[i].reason %></td>
              </tr>
          <% } %>
      </table>
      </div>

      <div class="w3-container">
        <table class="w3-table-all" style="width:100%;margin-top:20px" id="awardTable">
          <caption style="font-size:35px;margin-bottom:10px">Awards</caption>
          <tr>
          <th>Award</th>
          <th>Organization</th>
          <th>Date</th>
        </tr>
        <% for(var i=0; i < data.table2.length; i++) { %>
            <tr class="mytr">
              <td><%= data.table2[i].award_name %></td>
              <td><%= data.table2[i].contest %></td>
              <td><%= data.table2[i].institute %></td>
            </tr>
        <% } %>
      </table>
      </div>
    </div>
  </div>


<script src="/javascripts/chartjs.js"></script>
<script src="/javascripts/jquery.js"></script>
<script>
function getData() {
    // Grab the template
    var term = document.getElementById('grade_termSelect').value
					$.ajax({
						type: 'POST',
            data: { term: term,
                    sid: <%= data.table1[0].id %>
                  },
            url: '/query',
            success: function(data) {
                      filterTable(data)
                    }
          });
}

function filterTable(data){
  var table = document.getElementById('gradeTable')
  while(table.rows[1]) table.deleteRow(1);
  create_gradeTable(data)
}


function create_gradeTable(data) {
  var table = document.getElementById('gradeTable')
  var weightSum = 0;
  var gradeSum = 0;


  for (var i = 0; i < data.length; i++) {
    var tr = document.createElement('tr');
    var cid = document.createElement('td');
    var name = document.createElement('td');
    //var section = document.createElement('td');
    var grade = document.createElement('td');
    var weight = document.createElement('td');

    var text_cid = document.createTextNode(data[i].cid);
    var text_name = document.createTextNode(data[i].course_name);
    //var text_section = document.createTextNode('3');
    var text_grade = document.createTextNode(data[i].grade);
    var text_weight = document.createTextNode(data[i].credit);

        cid.appendChild(text_cid);
        name.appendChild(text_name);
        //section.appendChild(text_section);
        grade.appendChild(text_grade);
        weight.appendChild(text_weight);

        tr.appendChild(cid);
        tr.appendChild(name);
        //tr.appendChild(section);
        tr.appendChild(grade);
        tr.appendChild(weight);
        table.appendChild(tr);

        weightSum += data[i].credit;
        gradeSum += data[i].grade*data[i].credit;

    }

    var tfoot = document.createElement('tfoot')
    //GPAX

    var tr1 = document.createElement('tr');

    var total1 = document.createElement('td')
    var sum1 = document.createElement('td');

    var text_total1 = document.createTextNode('GPA');
    var text_sum1 = document.createTextNode((gradeSum/weightSum).toFixed(2));

    total1.colSpan = "3";
    total1.appendChild(text_total1)
    sum1.appendChild(text_sum1)
    tr1.appendChild(total1)
    tr1.appendChild(sum1)
    tfoot.appendChild(tr1)

    //Weight
    var tr2 = document.createElement('tr');

    var total = document.createElement('td')
    var sum = document.createElement('td');

    var text_total = document.createTextNode('Credits');
    var text_sum = document.createTextNode(weightSum);

    total.colSpan = "3";
    total.appendChild(text_total)
    sum.appendChild(text_sum)
    tr2.appendChild(total)
    tr2.appendChild(sum)
    tfoot.appendChild(tr2)

    table.appendChild(tfoot)


}

</script>


</body>
</html>
